# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.vscode

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Distribution
dist/
temp/

# Misc
topology-updater
/config.yaml
/configmap.yaml
__pycache__
